.inner-page
  background: $gray_light


  h1    
    font-size: 30px  

  section
    color: $gray
    padding-bottom: 50px
    padding-top: 20px
    @media screen and (min-width: 500px)
      border-left: 64px solid $teal
    

    h1
      color: $red_alt
      margin: 20px 0

    h2
      color: $red_alt
      font-size: 20px
      margin-bottom: 20px

    p
      margin-bottom: 20px

    ul
      list-style: disc inside
      padding: 0 20px 20px
      li
        margin-bottom: 5px
        &:last-child
          margin-bottom: 0


  @media screen and (min-width: 500px)
    nav
      margin-top: 70px