section#registration
  background: $violet2
  position: relative
  padding-bottom: 100px
  text-align: center


  #the-wall    
    height: 421px
    margin-top: -320px
    position: absolute  
    width: 100%
    z-index: 2
    #wall
      background: url(../images/wall2.png) no-repeat bottom center
      background-size: 100% auto
      height: 221px
      padding-top: 200px
      position: absolute
      width: 100%
      z-index: 2
    #gradient
      @include gradient(rgba($violet, 0), $violet)
      height: 421px
      position: absolute  
      width: 100%
      z-index: 1
    #bricks
      background: url(../images/bricks-violet.png) no-repeat top center
      border-top: 20px solid $gray
      bottom: 0
      height: 131px
      position: absolute
      width: 100%
      z-index: 0
    @media screen and (max-width: 600px)
      zoom: 0.6




  h2.title
    margin-top: 120px
    @media screen and (max-width: 600px)
      margin-top: 20px

  h2 + p
    margin: 0 auto 50px
    max-width: 600px

  .table
    background: $gray
    border-radius: 3px
    border: 4px solid rgba($cream, 0.3)
    min-height: 340px
    margin: 0 auto
    position: relative
    width: 700px
    z-index: 1
    &:after
      background: url(../images/lanyard.png) no-repeat center bottom
      content: ""
      height: 242px
      position: absolute
      right: -39px
      top: -7px
      width: 63px
      z-index: 2
    .col
      border-right: 3px solid rgba($cream, 0.3)
      float: left
      position: relative
      width: 172px
      &.last
        border-right: 0 none        
      &.active
        border: 6px solid $teal_vibrant
        border-radius: 6px
        margin: -22px 0 0 -6px
        z-index: 1
        &.last
          margin-right: -3px
        .cell
          border-color: rgba($teal_vibrant, 0.3)
          &:first-child
            min-height: 67px
          h4, small, strong
            color: $teal_vibrant
          h4
            font-size: 22px
            margin-bottom: 0
          p
            font-size: 13px
          small
            font-size: 20px
          strong
            font-size: 32px

          &:last-child
            border: 0 none
      
      .cell
        border-bottom: 3px solid rgba($cream, 0.3)
        background: lighten($gray, 5%)
        padding: 10px
        min-height: 51px
        &:last-child
          background: $gray

        h4
          font-family: 'Ubuntu'
          font-size: 16px
          font-weight: bold
          margin: 0 0 3px
          text-transform: uppercase

          i
            display: block
        p
          font-size: 11px

        small
          font-size: 18px
          font-weight: 600
        strong
          font-weight: normal
          font-family: 'outage'
          font-size: 28px

    h5
      clear: left
      font-size: 18px
      font-weight: 600
      padding: 25px
      text-transform: uppercase

    ul
      padding-bottom: 25px
      text-align: left
      li
        @include inline-block
        font-size: 13px
        margin-bottom: 5px
        margin-left: 8%
        padding: 0 4% 0 0
        position: relative
        vertical-align: top
        width: 38%
        &:before
          @include checkmark
          color: $red_alt
          font-size: 17px
          left: -28px
          position: absolute


    a
      @include transition(all, 0.12s)
      background: $red_alt
      border-radius: 0 0 3px 3px
      bottom: -60px
      box-shadow: 0 4px 0 rgba(black, 0.1)
      font-size: 24px
      font-weight: 600
      height: 60px
      left: 50%
      line-height: 60px
      margin-left: -150px
      position: absolute
      text-transform: uppercase
      width: 300px
      &:hover
        background: $teal
        text-decoration: none



  .stuff
    .wrapper
      height: 262px
      margin-top: -210px
      position: relative
      text-align: left
    
    .cup
      bottom: -23px     
      position: absolute
      right: 100px
    
    .sign
      bottom: -6px
      left: 0
      position: absolute
      z-index: 0

  .wood
    background: #c18044 url(../images/wood.png)
    box-shadow: 0 10px 0 rgba(black, 0.1)
    height: 30px

  @media screen and (max-width: 800px)
    .table
      width: auto
      &:after
        display: none
      .col
        border: 0 none
        border-bottom: 3px solid rgba($cream, 0.3)
        float: none
        width: auto
        &.active
          margin: -3px -3px 0
          .cell
            h4
              font-size: 16px
            small
              font-size: 18px
        .cell, .cell:last-child
          @include box-sizing
          @include inline-block
          border: 0 none
          padding: 10px 0
          min-height: 60px
          vertical-align: middle
          width: 50%


      h5
        background: url(../images/lanyard.png) no-repeat left bottom
        margin-bottom: 15px
        text-align: left
        padding: 20px 10px 90px 60px

      ul
        li
          display: block
          margin-left: 15%
          width: auto

      a
        width: 160px
        margin-left: -80px
        font-size: 18px


    .stuff
      .sign
        display: none
      .cup
        right: -20px
            

