section#speakers
  background: #36a582 url(../images/cave-middle.png) no-repeat center 230px

  @media screen and (min-width: 1400px)
    .wrapper
      max-width: 1450px

      > ul
        > li
          width: 19%
          margin: 0.5%

  #cave-top
    background: url(../images/cave-top.png) repeat center top
    height: 489px
    margin-bottom: -220px
    margin-top: -77px
    position: relative
    width: 100%

    @media screen and (max-width: 650px)
      margin-top: -180px
      zoom: 0.5
  
  #cave-bottom
    background: url(../images/cave-bottom.png) repeat center top
    height: 159px
    margin-bottom: -65px
    margin-top: -115px
    position: relative
    width: 100%
    @media screen and (min-width: 1673px)
      background-size: 100% auto

  
  h2.title
    color: $cream


  article > ul
    background: $gray2
    color: $cream
    padding: 10px    
    position: relative
    z-index: 1
    > li
      @include inline-block
      background: #737f8d      
      margin: 0.5%
      width: 24%
      vertical-align: top     

      .main-info
        background: url(../images/speaker-bkg-a.png) repeat top center
        height: 417px
        position: relative

        h3
          font-family: 'outage'
          font-size: 18px
          font-weight: normal
          padding: 90px 0 0
          text-transform: uppercase

        h4
          font-size: 15px
          margin-bottom: 25px

      &:nth-child(even)
        background: #7d7d7d
        .main-info
          background-color: #7d7d7d
          background-image: url(../images/speaker-bkg-b.png)

        .details
          background-image: url(../images/speaker-bkg-b2.png)
      

      .details
        background: url(../images/speaker-bkg-a2.png) repeat-x top center
        display: none
      
      .img        
        bottom: 20px
        left: 50%
        margin-left: -115px
        overflow: hidden
        position: absolute
        width: 230px

        .overlay
          @include transition(all, 0.25s)
          background: transparent
          border-radius: 100%
          box-shadow: 0 0 0 10px rgba(#414954, 0.7) inset          
          height: 100%
          position: absolute
          width: 100%
          &:hover
            background: rgba(#272425, 0.9)

            h5, .links
              opacity: 1

          h5, .links
            @include transition(all, 0.25s)
            opacity: 0

          h5    
            color: $teal
            font-family: 'Ubuntu'
            font-size: 18px
            margin-top: 45px

            small
              font-size: 14px

          .links
            border-top: 1px solid rgba($cream, 0.5)
            left: 50%
            margin-left: -37%
            padding-top: 20px
            position: absolute
            top: 50%
            width: 74%


          a
            i
              @include transition(all, 0.25s)
              font-size: 26px
              font-weight: normal
              margin: 0 10px        
            &:hover
              text-decoration: none
              i.fa-twitter            
                color: #86c8ea
              i.fa-github
                color: $red_alt

        img
          @include box-sizing
          border-radius: 100%
          border: 1px solid rgba(#414954, 0.7)
          display: block
          height: auto
          max-width: 100%

  a.btn
    border-radius: 0 0 3px 3px
    bottom: -48px
    height: 30px
    left: 50%
    line-height: 30px
    margin-left: -50px
    position: absolute
    width: 100px


  h6
    background: $gray2
    border-radius: 0 0 3px 3px
    bottom: -35px
    box-shadow: 0 4px 0 rgba(black, 0.1)
    font-size: 13px
    font-weight: 600
    height: 35px
    left: 50%
    line-height: 35px
    margin-left: -140px
    position: absolute
    text-align: center
    text-transform: uppercase
    width: 280px
    z-index: 1

body#home section#speakers 
  article > ul
    > li
      &.show
        @include inline-block
        &.last
          display: none
          @media screen and (min-width: 1400px)
            @include inline-block

      @media screen and (min-width: 920px) and (max-width: 1140px)
        height: 400px
        .img
          bottom: 30px
          margin-left: -100px
          width: 200px

      @media screen and (min-width: 920px) and (max-width: 1020px)
        height: 380px
        .img
          bottom: 20px
          margin-left: -90px
          width: 180px

      @media screen and (max-width: 920px)
        width: 48%
        margin: 1%

      @media screen and (max-width: 650px)
        width: 96%
        margin: 2%
     
       
      

          
 

.inner-page
  section#speakers
    border-left: 0 none
    text-align: center
    #cave-top
      margin-top: -245px
    
    h1
      color: $cream
      font-family: 'outage'
      font-size: 42px
      margin-bottom: 30px        
      text-shadow: 5px 5px 0 rgba(black, 0.1)
      text-transform: uppercase
      position: relative
      z-index: 1


    ul
      > li
        clear: left
        display: block
        height: auto
        margin: 0 0 10px 0
        min-height: 417px    
        width: 100%

        ol
          padding: 0 20px 20px
          li
            &:before
              color: $teal_vibrant
              content: "\f00c"
              font-family: 'fontAwesome'
              margin-right: 10px


        .main-info
          float: left
          width: 300px   
          
        
        .details
          @include box-sizing
          color: $gray_light
          display: block    
          margin-left: 300px
          min-height: 417px   
          padding: 30px 30px 10px
          text-align: left

          h2
            color: white
            font-size
            font-weight: 600

        @media screen and (max-width: 650px)
          .main-info, .details
            float: none
            margin-left: 0
            width: 100%

          .details
            min-height: 0
            h2
              text-align: center

            p
              text-align: justify
            




