section#sponsors
  background: $gray_light

  h2.title
    color: $teal

  h4
    color: lighten($gray, 35%)
    margin: 35px 0 0 

  ul
    margin-bottom: 30px
    li
      @include inline-block
      vertical-align: middle
      margin: 20px
      a
        @include transition(all, 0.25s)
        
        img
          max-width: 100%
          height: auto

        &:hover
          opacity: 0.8


  h3
    font-weight: bold
  h3, p
    color: $gray


  @media screen and (min-width: 501px)
    img.inaka
      margin-top: -10px

    img.pines
      margin-bottom: -2px