@import stylesheets/reset.sass
@import stylesheets/colors.sass
@import stylesheets/fonts.sass
@import stylesheets/mixins.sass
@import stylesheets/now_slider.sass

// Vendor
@import stylesheets/vendor/font-awesome.min.scss

html, body
  height: 100%

body
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

  > div
    @include box-sizing
    border: 1px solid gray
    padding: 15px
    position: absolute


#sponsors
  height: 70%
  overflow-y: scroll
  width: 80%

  ul
    .lines
      display: none
    li
      .right
        display: none
     

#twitter
  height: 100%
  right: 0
  width: 20%
  z-index: 1
  overflow-y: scroll


#schedule
  bottom: 0
  height: 30%
  overflow-y: scroll
  width: 80%
  
  ol
    li
      img
        width: 10%
        height: auto
        border-radius: 100%
