%nav
  %a.fist-logo{:href => "index_en.html#start"}
  %ul
    %li.active
      %a.circle{:href => "index_en.html#start"}
        .icon
        %span Start
    %li
      %a.circle{:href => "index_en.html#registration"} 
        .icon
        %span Registration
    %li.alt  
      %a.circle{:href => "index_en.html#speakers"}
        .icon
        %span Speakers
    %li  
      %a.circle{:href => "index_en.html#rubyfunday"}
        .icon
        %span Ruby Fun Day
    %li  
      %a.circle{:href => "index_en.html#sponsors"}
        .icon
        %span Sponsors      
    %li  
      %a.circle{:href => "index_en.html#venue"}
        .icon
        %span Venue
  %a.facebook{:href => "https://www.facebook.com/rubyconfar", :target => "_blank"}
    %i.fa.fa-facebook
  %a.twitter{:href => "https://twitter.com/RubyConfAR", :target => "_blank"}
    %i.fa.fa-twitter

  %ol
    %li.current
      %a{href:"/index_en.html"} EN
    %li
      %a{href:"/index_es.html"} ES
