%nav
  %a.fist-logo{:href => "index_es.html#start"}
  %ul
    %li.active
      %a.circle{:href => "index_es.html#start"}
        .icon
        %span Inicio
    %li
      %a.circle{:href => "index_es.html#registration"} 
        .icon
        %span Inscripcion
    %li.alt
      %a.circle{:href => "index_es.html#speakers"}
        .icon
        %span Oradores
    %li
      %a.circle{:href => "index_es.html#rubyfunday"}
        .icon
        %span Ruby Fun Day
    %li
      %a.circle{:href => "index_es.html#sponsors"}
        .icon
        %span Sponsors      
    %li
      %a.circle{:href => "index_es.html#venue"}
        .icon
        %span Lugar
  %a.facebook{:href => "https://www.facebook.com/rubyconfar", :target => "_blank"}
    %i.fa.fa-facebook
  %a.twitter{:href => "https://twitter.com/RubyConfAR", :target => "_blank"}
    %i.fa.fa-twitter

  %ol
    %li
      %a{href:"/index_en.html"} EN
    %li.current
      %a{href:"/index_es.html"} ES
