%li>
  %h3 Stepahanie Geerlings
  %h4 Cloud City Development
  .img
    .overlay
      %h5
        %small Ruby + RaspberryPi + That 
        %br
        Was Not What I Expected
      .links
        %a{:href=>"https://twitter.com/geerlinger", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/stf", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/geerlinger.jpg', :alt=>"Stepahanie Geerlings"}
  .abstract
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .bio
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%li>
  %h3 Hanneli Tavante
  %h4 Codeminer 42
  .img
    .overlay
      %h5
        %small Our daily graphs written
        %br
        in Ruby and Neo4j 
      .links
        %a{:href=>"https://twitter.com/hannelita", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/hannelita", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/hannelita.jpg', :alt=>"Hanneli Tavante"}

%li>
  %h3 Esteban Pastorino
  %h4 Jingle Punks
  .img
    .overlay
      %h5
        Angular on Cuba 
        %br
        (Workshop)
      .links
        %a{:href=>"https://twitter.com/kitopastorino", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/kitop", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/kitopastorino.jpg', :alt=>"Esteban Pastorino"}

%li>
  %h3 Ignacio Gutierrez
  %h4 Sketch Consulting
  .img
    .overlay
      %h5 
        Angular on Cuba 
        %br
        (Workshop)
      .links
        %a{:href=>"https://twitter.com/jgnatch", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/jgnatch", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/jgnatch.jpg', :alt=>"Ignacio Gutierrez"}


%li>
  %h3 Starr Horne
  %h4 Honeybadger
  .img
    .overlay
      %h5 5 machine learning techniques that you...
      .links
        %a{:href=>"https://twitter.com/StarrHorne", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/StarrHorne", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/starrhorne.jpg', :alt=>"Starr Horne"}

%li>
  %h3 Cristian Rasch
  %h4 WeCode
  .img
    .overlay
      %h5
        A one on one date
        %br
        with vim (Workshop)
      .links
        %a{:href=>"https://twitter.com/cristianrasch", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/cristianrasch", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/cristianrasch.jpg', :alt=>"Cristian Rasch"}

%li>
  %h3 Francesco Rodríguez
  %h4 Harmoni
  .img
    .overlay
      %h5 
        The Guide 
        %br 
        to Cuba
      .links
        %a{:href=>"https://twitter.com/frodsan", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/frodsan", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/frodsan.jpg', :alt=>"Francesco Rodríguez"}

%li>
  %h3 Damián Janowski
  %h4 Educabilia
  .img
    .overlay
      %h5 
        Redis: más allá 
        %br
        del caché y las colas 
      .links
        %a{:href=>"https://twitter.com/djanowski", :target=>"_blank"}
          %i.fa.fa-twitter          
        %a{:href=>"https://github.com/djanowski", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/jano.jpg', :alt=>"Damian Janowski"}         
        

%li>        
  %h3 Pote
  %h4 13 Floor
  .img
    .overlay
      %h5
        The Dilemma 
        %br
        of Simplicity
      .links
        %a{:href=>"https://twitter.com/poteland", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/pote", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/pote.jpg', :alt=>"Pablo Astigarraga"}      
    

%li>
  %h3 Julian Cheal
  %h4 Artolo
  .img
    .overlay
      %h5
        Dancing 
        %br
        with Robots
      .links
        %a{:href=>"https://twitter.com/juliancheal", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{href:"http://github.com/juliancheal"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/juliancheal.jpg', :alt=>"Julian Cheal"}       
    

%li>
  %h3 Chris Hunt
  %h4 Github
  .img
    .overlay
      %h5 
        Solving the Rubik’s 
        %br
        Cube Blindfolded
      .links
        %a{:href=>"https://twitter.com/chrishunt", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/chrishunt", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/chrishunt.jpg', :alt=>"Chris Hunt"}

