%li>
  %h3 Damián Janowski
  %h4 Educabilia
  .img
    .overlay
      %h5 [TBA]
      .links
        %a{:href=>"https://twitter.com/djanowski", :target=>"_blank"}
          %i.fa.fa-twitter          
        %a{:href=>"https://github.com/djanowski", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/jano.jpg', :alt=>"Damian Janowski"}         
        

%li>        
  %h3 Pote
  %h4 13 Floor
  .img
    .overlay
      %h5
        The Dilemma 
        %br
        of Simplicity
      .links
        %a{:href=>"https://twitter.com/poteland", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/pote", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/pote.jpg', :alt=>"Pablo Astigarraga"}      
    

%li>
  %h3 Julian Cheal
  %h4 Artolo
  .img
    .overlay
      %h5
        Dancing 
        %br
        with Robots
      .links
        %a{:href=>"https://twitter.com/juliancheal", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{href:"http://github.com/juliancheal"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/juliancheal.jpg', :alt=>"Julian Cheal"}       
    

%li>
  %h3 Chris Hunt
  %h4 Github
  .img
    .overlay
      %h5 [TBA]
      .links
        %a{:href=>"https://twitter.com/chrishunt", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/chrishunt", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/chrishunt.jpg', :alt=>"Chris Hunt"}


%li>
  %h3 Starr Horne
  %h4 Github
  .img
    .overlay
      %h5 5 machine learning techniques that you...
      .links
        %a{:href=>"https://twitter.com/StarrHorne", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/StarrHorne", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/starrhorne.jpg', :alt=>"Starr Horne"}


%li>
  %h3 Kinsey Ann Durham
  %h4 DigitalOcean
  .img
    .overlay
      %h5 Ruby, Set, Go! (Go Language)
      .links
        %a{:href=>"https://twitter.com/KinseyAnnDurham", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/durhamka", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/durhamka.jpg', :alt=>"Kinsey Ann Durham"}

%li>
  %h3 Cristian Rasch
  %h4 WeCode
  .img
    .overlay
      %h5
        A one on one date
        %br
        with vim
      .links
        %a{:href=>"https://twitter.com/cristianrasch", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/cristianrasch", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/cristianrasch.jpg', :alt=>"Cristian Rasch"}
%li>
  %h3 Francesco Rodríguez
  %h4 Harmoni
  .img
    .overlay
      %h5 
        The Guide 
        %br 
        to Cuba
      .links
        %a{:href=>"https://twitter.com/frodsan", :target=>"_blank"}
          %i.fa.fa-twitter
        %a{:href=>"https://github.com/frodsan", :target=>"_blank"}
          %i.fa.fa-github
    %img{:src=>'images/speakers/frodsan.jpg', :alt=>"Francesco Rodríguez"}









