%ul
  %h4 Platinum
  %li
    %a{:href=>"https://citrusbyte.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/citrusbyte.png", :alt=>"Citrusbyte", :width=>"311", :height=>"70"}
  
  %h4 Gold
  %li
    %a{:href=>"http://www.restorando.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/restorando.png", :alt=>"Restorando", :width=>"190", :height=>"64"}
  
  %h4 Silver
  %li
    %a{:href=>"http://inaka.net", :target=>"_blank"}
      %img.inaka{:src=>"images/sponsors/inaka.png", :alt=>"Inaka Networks", :width=>"120", :height=>"44"}
  %li
    %a{:href=>"https://www.digitalocean.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/digitalocean.png", :alt=>"Digital Ocean", :width=>"220", :height=>"35"}
  %li
    %a{:href=>"http://www.10pines.com", :target=>"_blank"}
      %img.pines{:src=>"images/sponsors/10pines.png", :alt=>"10 Pines", :width=>"160", :height=>"52"}
  %li
    %a{:href=>"http://www.ombulabs.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/ombulabs.png", :alt=>"Ombu Labs", :width=>"200", :height=>"42"}
  
  %h4 Bronze
  %li
    %a{:href=>"http://www.13floor.org", :target=>"_blank"}
      %img{:src=>"images/sponsors/13floor.png", :alt=>"13Floor", :width=>"193", :height=>"31"}
  
  %h4 Media Partners      
  %li
    %a{:href=>"http://szstudios.com.ar", :target=>"_blank"}
      %img{:src=>"images/sponsors/szstudios.png", :alt=>"Sz Studios", :width=>"100", :height=>"62"}
  %li
    %a{:href=>"http://www.palermo.edu", :target=>"_blank"}
      %img{:src=>"images/sponsors/up.png", :alt=>"Universidad de Palermo", :width=>"163", :height=>"36"}