%ul
  %h4 Platinum
  %li
    %a{:href=>"https://citrusbyte.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/citrusbyte.png", :alt=>"Citrusbyte", :width=>"311", :height=>"70"}
  
  %h4 Gold
  %li
    %a{:href=>"http://www.restorando.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/restorando.png", :alt=>"Restorando", :width=>"190", :height=>"64"}
  
  %h4 Silver
  %li
    %a{:href=>"http://inaka.net", :target=>"_blank"}
      %img.inaka{:src=>"images/sponsors/inaka.png", :alt=>"Inaka Networks", :width=>"120", :height=>"44"}
  %li
    %a{:href=>"http://www.10pines.com", :target=>"_blank"}
      %img.pines{:src=>"images/sponsors/10pines.png", :alt=>"10 Pines", :width=>"160", :height=>"52"}
  %li
    %a{:href=>"http://www.ombulabs.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/ombulabs.png", :alt=>"Ombu Labs", :width=>"200", :height=>"42"}
  %li
    %a{:href=>"http://www.wyeworks.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/wyeworks.png", :alt=>"wye works", :width=>"210", :height=>"31"}
  %li
    %a{:href=>"http://www.toptierlabs.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/toptier-labs.png", :alt=>"toptier labs", :width=>"150", :height=>"54"}
  %li
    %a{:href=>"http://www.sendgrid.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/sendgrid.png", :alt=>"Sendgrid", :width=>"196", :height=>"50"}
  
  %h4 Bronze
  %li
    %a{:href=>"http://www.jinglepunks.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/jinglepunks.png", :alt=>"Jingle Punks", :width=>"169", :height=>"90"}
  %li
    %a{:href=>"http://www.13floor.org", :target=>"_blank"}
      %img{:src=>"images/sponsors/13floor.png", :alt=>"13Floor", :width=>"193", :height=>"31"}
  %li
    %a{:href=>"http://www.deviget.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/deviget.png", :alt=>"deviget", :width=>"170", :height=>"50"}
  %li
    %a{:href=>"http://www.soundcloud.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/soundcloud.png", :alt=>"Soundcloud", :width=>"119", :height=>"75"}
  %li
    %a{:href=>"http://www.thoughtbot.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/thoughtbot.png", :alt=>"Thoughtbot", :width=>"190", :height=>"46"}
  %li
    %a{:href=>"http://www.altoros.com", :target=>"_blank"}
      %img{:src=>"images/sponsors/altoros.png", :alt=>"Sendgrid", :width=>"200", :height=>"35"}
  
  
  %h4 Media Partners      
  %li
    %a{:href=>"http://szstudios.com.ar", :target=>"_blank"}
      %img{:src=>"images/sponsors/szstudios.png", :alt=>"Sz Studios", :width=>"100", :height=>"62"}
  %li
    %a{:href=>"http://www.palermo.edu", :target=>"_blank"}
      %img{:src=>"images/sponsors/up.png", :alt=>"Universidad de Palermo", :width=>"163", :height=>"36"}