- content_for(:body_id) {"coc"}
- content_for(:body_class) {"inner-page"}


%section
  %article.wrapper

    %h1 Código de Conducta / Code Of Conduct

    %h2{id: 'espanol'} Español
    %p RubyConf Argentina es una conferencia que tiene como objetivo el ayudar a generar redes y colaboración en nuestra comunidad de desarrolladores. Consideramos importante la participación de cada miembro de la comunidad y queremos que todos los asistentes tengan un experiencia disfrutable y productiva. De acuerdo con esto, se espera que todos los asistentes muestren respeto y cortesía a los otros asistentes en la conferencia y en todos los eventos de la conferencia.

    %p Para dejar en claro lo que se espera, se requiere que todos los delegados, oradores, expositores y voluntarios en cualquier evento de RubyConf Argentina actúen de acuerdo con el siguiente Código de Conducta. Los organizadores van a hacer cumplir este código a lo largo del evento. RubyConf Argentina está dedicada a proveer una experiencia de conferencia libre de acoso, sin prejuicios de género, orientación sexual, discapacidad, apariencia física, tamaño corporal, raza o religión. No toleramos el acoso a los participantes de la conferencia en ninguna forma.

    %p Toda la comunicación deberá ser apropiada para una audiencia profesional, incluyendo personas de diferentes entornos. El lenguaje y la imágenes o metáforas sexuales no son apropiados para la conferencia, incluyendo las charlas. Sé amable con otros. No insultes o hagas sentir mal a otros participantes. Compórtate de manera profesional. Recuerda que el acoso y los chistes sexistas, racistas o excluyentes no son apropiados en RubyConf Argentina.

    %p A los participantes que violen estas reglas se le podrá solicitar que se retiren de la conferencia sin reembolso a sola discreción de los organizadores de la conferencia. Gracias por ayudarnos a hacer de este un evento un espacio más inclusivo, amigable para todos.

    %p No se tolerará ningún acto de discriminación o abuso por parte de asistentes, oradores y todo aquel que acuda a la conferencia. RubyConf Argentina es un evento que se rige bajo la legislación argentina, una de las primeras en el mundo en aceptar la igualdad de género y combatir la discriminación, y se llevarán a cabo las acciones pertinentes en caso de ser requeridas.

    %h2{id: 'english'} English

    %p RubyConf Argentina is a community conference intended for networking and collaboration in the developer community. We value the participation of each member of the community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events.

    %p To make clear what is expected, all delegates, speakers, exhibitors and volunteers at any RubyConf Argentina event are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the event. RubyConf Argentina is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form.

    %p All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate for any conference venue, including talks. Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for RubyConf Argentina.

    %p Attendees violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers. Thank you for helping make this a welcoming, friendly event for all.

    %p Any act of discrimination or harassment by attendees, speakers or anyone present at the conference won't be tolerated. RubyConf Argentina is an event governed by Argentinian law, one of the most advanced in terms of gender equality and policies against discrimination. The organizers will carry out appropriate actions if required.
