- content_for(:body_id) {"home"}
- content_for(:lang) {"en"}

%section#start
  %img.cloud{:src=>"images/cloud.png", :width=>"893", :height=>"268"}
  .signal
  .breeze
  .bricks
    %img.bat.bat1{:src=>"images/bat1.png"}
    %img.bat.bat2{:src=>"images/bat2.png"}
    %img.bat.bat3{:src=>"images/bat3.png"}
    .clouds  
  
  %img.character.erlich{:src=>"images/erlich.png", :width=>"342", :height=>"960"}
  %img.character.horseboy{:src=>"images/horseboy.png", :width=>"366", :height=>"1053"}
  %img.character.moss{:src=>"images/moss.png", :width=>"358", :height=>"1049"}
  %img.character.woz{:src=>"images/woz.png", :width=>"335", :height=>"897"}
  %img.character.staplerguy{:src=>"images/staplerguy.png", :width=>"448", :height=>"992"}

  %img.konex{:src=>"images/konex-top.png", :width=>"505", :height=>"633"}


  %hgroup
    %h1.horseboy Elders of the internet...

    %h1.erlich
      "Game
      %span Changing"

    %h1.woz It's Geek time.

    %h1.moss
      Hello, 
      %span RubyConf..?

    %h1.staplerguy 
      Another RubyConf. 
      %span That'd be great.

    %h1.trinity
      Your mind 
      %span makes it real.

    %h2
      Rubyconf Argentina 
      %span October 24 / 25, 2014
    %h3 Ciudad Cultural Konex

  %img#matrix{:src => "images/trinity.png", :width => "953", :height => "787"}
  %canvas#c

%section#registration
  #the-wall
    #wall
    #gradient
    #bricks
  
  %article.wrapper
    %h2.title Registration
    %p
      %strong RubyConf Argentina 
      is one of the largest conferences about software development in South America, where more than 450 hackers meet to learn, discuss and share thoughts on open source software, web, mobile apps, security, robotics, and a lot more.
    

    .table
      .col.sold-out
        .cell>
          %h4 Super early bird
        .cell
          %img{:src => "images/sold-out.png", :width => "79", :height => "86", :alt=>"Sold Out"}

      .col.active
        .cell>
          %h4 
            Early bird
            %i.fa.fa-check
        .cell
          %small AR$
          %strong 800

      .col
        .cell>
          %h4 Not so early bird
        .cell
          %small AR$
          %strong ---

      .col.last
        .cell>
          %h4 Regular
        .cell
          %small AR$
          %strong 1200

      %h5 What you get with your ticket:

      %ul
        %li> Admission to two days of talk sessions
        %li> Access to any after-hour parties
        %li> Official Conference T-Shirt and goodie bag
        %li> Breakfast, lunch and snacks on both days
        %li> Translation services
        %li> Access to our fantastic attendees and speakers!

      %a{href:"register.html", target: '_blank'} Register Now


  .stuff
    .wrapper
      %img.cup{:src=>"images/cup.png", :width=>"207", :height=>"98"}
      %img.sign{:src=>"images/sign.png", :width=>"194", :height=>"262"}    
    .wood

%section#speakers
  #cave-top  
  %article.wrapper
    %h2.title Speakers

    %ul
      %li>
        %h3 Jano
        %h4 Educabilia
        .img
          .overlay
            %h5 [TBA]
            .links
              %a{:href=>"https://twitter.com/djanowski", :target=>"_blank"}
                %i.fa.fa-twitter          
              %a{:href=>"https://github.com/djanowski", :target=>"_blank"}
                %i.fa.fa-github
          %img{:src=>'images/speakers/jano.jpg', :alt=>"Damian Janowski"}         
              

      %li>        
        %h3 Pote
        %h4 13 Floor
        .img
          .overlay
            %h5
              The Dilemma 
              %br
              of Simplicity
            .links
              %a{:href=>"https://twitter.com/poteland", :target=>"_blank"}
                %i.fa.fa-twitter
              %a{:href=>"https://github.com/pote", :target=>"_blank"}
                %i.fa.fa-github
          %img{:src=>'images/speakers/pote.jpg', :alt=>"Pablo Astigarraga"}      
          

      %li>
        %h3 Julian Cheal
        %h4 Artolo
        .img
          .overlay
            %h5
              Dancing 
              %br
              with Robots
            .links
              %a{:href=>"https://twitter.com/juliancheal", :target=>"_blank"}
                %i.fa.fa-twitter
              %a{href:"http://github.com/juliancheal"}
                %i.fa.fa-github
          %img{:src=>'images/speakers/juliancheal.jpg', :alt=>"Julian Cheal"}       
          
      
      %li>
        %h3 Chris Hunt
        %h4 Github
        .img
          .overlay
            %h5 [TBA]
            .links
              %a{:href=>"https://twitter.com/chrishunt", :target=>"_blank"}
                %i.fa.fa-twitter
              %a{:href=>"https://github.com/chrishunt", :target=>"_blank"}
                %i.fa.fa-github
          %img{:src=>'images/speakers/chrishunt.jpg', :alt=>"Chris Hunt"}

      %h6 More speakers TBA soon
  #cave-bottom

%section#cfp
  %article.wrapper
    %h2.title Call For Papers
    .content
      %h3
        So you think you have a crazy idea that no one would ever consider presenting in a conference? 
        %br
        That no conference committee would accept? Now we are talking. 
      %p 
        Read the 
        %a{href: "call_for_papers_en.html" } guidelines and submit your proposal 
        and get to talk in front of more than 400 rubyists! 
        
      %h4 We want you to speak at the next RubyConf Argentina.

      %p
        %a.btn.btn-alt{:href=>"call_for_papers_en.html"}
          Call For Papers
          %i.fa.fa-angle-right


    
%section#sponsors
  %article.wrapper
    %h2.title Sponsors
    .content
      %ul
        %h4 Platinum
        %li
          %a{:href=>"https://citrusbyte.com", :target=>"_blank"}
            %img{:src=>"images/sponsors/citrusbyte.png", :alt=>"Citrusbyte", :width=>"311", :height=>"70"}
        %h4 Bronze
        %li
          %a{:href=>"http://www.13floor.org", :target=>"_blank"}
            %img{:src=>"images/sponsors/13floor.png", :alt=>"13Floor", :width=>"193", :height=>"31"}
        %h4 Media Partners      
        %li
          %a{:href=>"http://szstudios.com.ar", :target=>"_blank"}
            %img{:src=>"images/sponsors/szstudios.png", :alt=>"Sz Studios", :width=>"100", :height=>"62"}
        %li
          %a{:href=>"http://www.palermo.edu", :target=>"_blank"}
            %img{:src=>"images/sponsors/up.png", :alt=>"Universidad de Palermo", :width=>"163", :height=>"36"}
      
      %h3 Are you interested in helping us organize the 4th RubyConf Argentina?
      %p 
        Your company can be part of one of the biggest software conferences in South America. 

      / %p
      /   %a.btn.btn-alt{:href=>"/assets/SponsorsBrochure2014.pdf"} Download Brochure
      %p 
        %a.btn.btn-alt{:href=>"mailto:rubyconfar@gmail.com?&subject=[RubyConfAr] About sponsoring the event."} Contact us
        and we'll tell you how to take advantage of this opportunity.

%section#venue
  %article.wrapper
    %h2.title Venue
    .content
      %h3 CIUDAD CULTURAL KONEX
      %address Sarmiento 3131, C1196AAG Buenos Aires, Capital Federal, Argentina
    
    %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://www.google.com/maps?q=Sarmiento+3131,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&hnear=Sarmiento+3131,+Balvanera,+Buenos+Aires,+Argentina&t=m&z=14&output=embed", width: "100%"}
