- content_for(:body_id) {"home"}
- content_for(:lang) {"es"}

%section#start
  %img.cloud{:src=>"images/cloud.png", :width=>"893", :height=>"268"}
  .signal
  .breeze
  .bricks
    %img.bat.bat1{:src=>"images/bat1.png"}
    %img.bat.bat2{:src=>"images/bat2.png"}
    %img.bat.bat3{:src=>"images/bat3.png"}
    .clouds  
  
  %img.character.erlich{:src=>"images/erlich.png", :width=>"342", :height=>"960"}
  %img.character.horseboy{:src=>"images/horseboy.png", :width=>"366", :height=>"1053"}
  %img.character.moss{:src=>"images/moss.png", :width=>"358", :height=>"1049"}
  %img.character.woz{:src=>"images/woz.png", :width=>"335", :height=>"897"}
  %img.character.staplerguy{:src=>"images/staplerguy.png", :width=>"448", :height=>"992"}

  %img.konex{:src=>"images/konex-top.png", :width=>"505", :height=>"633"}


  
  %hgroup

    %h1.horseboy Sabios de la internet...

    %h1.erlich
      "Game
      %span Changing"

    %h1.woz It's Geek time.

    %h1.moss
      Hello, 
      %span RubyConf..?

    %h1.staplerguy 
      Otra RubyConf. 
      %span Eso seria genial.

    %h1.trinity
      Tu mente
      %span lo hace real.

    %h2
      Rubyconf Argentina 
      %span Octubre 24 / 25, 2014
    %h3 Ciudad Cultural Konex

  %img#matrix{:src => "images/trinity.png", :width => "953", :height => "787"}
  %canvas#c

%section#registration
  #the-wall
    #wall
    #gradient
    #bricks
  %article.wrapper
    %h2.title Inscripción
    %p
      %strong RubyConf Argentina 
      es uno de los mayores eventos de sudamérica sobre desarrollo de software, donde más de 450 desarrolladores se reúnen para aprender, discutir y compartir ideas sobre software libre, web, aplicaciones móviles, seguridad, robótica, y mucho más.

    .table
      .col.sold-out
        .cell>
          %h4 Pajarito
        .cell
          %img{:src => "images/agotado.png", :width => "79", :height => "86", :alt=>"Agotado"}

      .col.sold-out
        .cell>
          %h4 Pájaro
        .cell
          %img{:src => "images/agotado.png", :width => "79", :height => "86", :alt=>"Agotado"}

      .col.active
        .cell>
          %h4 
            Pajarote
            %i.fa.fa-check
        .cell
          %small AR$
          %strong 900

      .col.last
        .cell>
          %h4 Pajarón
        .cell
          %small AR$
          %strong 1200

      %h5 Lo que obtienes con tu entrada

      %ul
        %li> Admisi&oacute;n a los dos d&iacute;as de charla
        %li> Acceso a todas las fiestas post evento 
        
        %li> Desayuno, almuerzo y merienda
        %li> Servicios de traducción
        %li> Remera oficial de la conferencia y bolsa de regalos 
        %li> ¡Acceso a nuestros fabulosos oradores y asistentes!

      %a{href:"register.html", target: '_blank'} Inscribirse

  .stuff
    .wrapper
      %img.cup{:src=>"images/cup.png", :width=>"207", :height=>"98"}
      %img.sign{:src=>"images/sign.png", :width=>"194", :height=>"262"}    
    .wood

%section#speakers
  #cave-top
  %article.wrapper
    %h2.title Oradores

    %ul
      = partial("_speakers.haml")
      %h6 Más oradores se anunciarán pronto
  #cave-bottom

%section#cfp
  %article.wrapper
    %h2.title Convocatoria a charlas
    .content
      %h3 
        ¿Creés que ten&eacute;s una idea alocada que nadie considerar&iacute;a presentar en una conferencia?
        %br
        ¿Que ningún comit&eacute; aceptar&iacute;a? Bien, ¡de eso estamos hablando!
      %p 
        Enterate cómo 
        %a{href: "call_for_papers_es.html" } leyendo las instrucciones
        \, ¡envi&aacute; tu propuesta
        y habl&aacute; en frente de m&aacute;s de 400 rubyistas!
      
      %h4 Queremos verte hablar en la pr&oacute;xima RubyConf Argentina.

      %p
        %a.btn.btn-alt{:href=>"call_for_papers_es.html"}
          Convocatoria a charlas
          %i.fa.fa-angle-right


%section#rubyfunday
  %article.wrapper
    .text
      %h2.title Ruby Fun Day
      %p El Ruby Fun Day es un día completo de talleres de lo más variados. Habrá actividades para Rubyistas principiantes, y también para experimentados.
      %p Estos talleres se dan en un entorno de aulas, permitiendo mayor participación de los asistentes.
      %p Para aprovechar los talleres al máximo, es necesario disponer de una laptop.
      %p
        El Ruby Fun Day 2014 será el 
        %strong 23 de Octubre, 
        un día antes de la conferencia, en:
      %address
        %a.magnific-popup{:href=>"https://www.google.com.ar/maps/place/Mario+Bravo+1050,+Buenos+Aires,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires/@-34.5973108,-58.4157872,17z/data=!3m1!4b1!4m2!3m1!1s0x95bcca87df85cc47:0x5386f54481530905?hl=en"}
          %strong Universidad de Palermo
          %br
          %small Mario Bravo 1050
      %p La inscripción para el Ruby Fun Day es gratuita y comenzará pronto, con prioridad para los inscriptos a RubyConf Argentina.

  %img.remeras{:src=>"images/remeras.png", :width=>"407", :height=>"320", :alt=>"Remeras RubyConf Argentina 2011, 2012, 2013, 2014"}
  %img.mesa{:src=>"images/mesa.png", :width=>"1069", :height=>"575"}

%section#sponsors
  %article.wrapper
    %h2.title Sponsors
    .content
      = partial("_sponsors.haml")
      
      %h3 ¿Interesado en ayudarnos a organizar la cuarta RubyConf Argentina?
      %p Tu compañía puede ser parte de una de las conferencias de software más grandes de Sudamérica. 

      / %p
      /   %a.btn.btn-alt{:href=>"/assets/SponsorsBrochure2014.pdf"} Descargar Brochure
      %p 
        %a.btn.btn{:href=>"mailto:rubyconfar@gmail.com?&subject=[RubyConfAr] Consulta sobre Sponsoreo."} Contactanos
        / %br
        y te contaremos más acerca de las ventajas de esta oportunidad. 

%section#venue
  %article.wrapper
    %h2.title Lugar
    .content
      %h3 CIUDAD CULTURAL KONEX
      %address Sarmiento 3131, C1196AAG Buenos Aires, Capital Federal, Argentina
    %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://www.google.com/maps?q=Sarmiento+3131,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&hnear=Sarmiento+3131,+Balvanera,+Buenos+Aires,+Argentina&t=m&z=14&output=embed", width: "100%"}
