- content_for(:body_id) {"home"}
- content_for(:lang) {"es"}

%section#start
  %img.cloud{:src=>"images/cloud.png", :width=>"893", :height=>"268"}
  .signal
  .breeze
  .bricks
    %img.bat.bat1{:src=>"images/bat1.png"}
    %img.bat.bat2{:src=>"images/bat2.png"}
    %img.bat.bat3{:src=>"images/bat3.png"}
    .clouds  
  
  %img.character.erlich{:src=>"images/erlich.png", :width=>"342", :height=>"960"}
  %img.character.horseboy{:src=>"images/horseboy.png", :width=>"366", :height=>"1053"}
  %img.character.moss{:src=>"images/moss.png", :width=>"358", :height=>"1049"}
  %img.character.woz{:src=>"images/woz.png", :width=>"335", :height=>"897"}
  %img.character.staplerguy{:src=>"images/staplerguy.png", :width=>"448", :height=>"992"}

  %img.konex{:src=>"images/konex-top.png", :width=>"505", :height=>"633"}
  
  %hgroup

    %h1.horseboy Sabios de la internet...

    %h1.erlich
      "Game
      %span Changing"

    %h1.woz It's Geek time.

    %h1.moss
      Hello, 
      %span RubyConf..?

    %h1.staplerguy 
      Otra RubyConf. 
      %span Eso seria genial.

    %h1.trinity
      Tu mente
      %span lo hace real.

    %h2
      Rubyconf Argentina 
      %span Octubre 24 / 25, 2014
    %h3 Ciudad Cultural Konex

  %img#matrix{:src => "images/trinity.png", :width => "953", :height => "787"}
  %canvas#c

%section#schedule
  %article.wrapper
    %h2.title Agenda
    = partial("_schedule.haml", lang: 'es')

%section#registration
  #the-wall
    #wall
    #gradient
    #bricks
  %article.wrapper
    %h2.title Inscripción
    %p
      %strong RubyConf Argentina 
      es uno de los mayores eventos de sudamérica sobre desarrollo de software, donde más de 450 desarrolladores se reúnen para aprender, discutir y compartir ideas sobre software libre, web, aplicaciones móviles, seguridad, robótica, y mucho más.

    .table
      .col.sold-out
        .cell>
          %h4 Pajarito
        .cell
          %img{:src => "images/agotado.png", :width => "79", :height => "86", :alt=>"Agotado"}

      .col.sold-out
        .cell>
          %h4 Pájaro
        .cell
          %img{:src => "images/agotado.png", :width => "79", :height => "86", :alt=>"Agotado"}

      .col.active
        .cell>
          %h4 
            Pajarín
            %i.fa.fa-check
        .cell
          %small AR$
          %strong 1000

      .col.last
        .cell>
          %h4 Pajarón
        .cell
          %small AR$
          %strong 1200

      %h5 Lo que obtienes con tu entrada

      %ul
        %li> Admisi&oacute;n a los dos d&iacute;as de charla
        %li> Acceso a todas las fiestas post evento 
        
        %li> Desayuno, almuerzo y merienda
        %li> Servicios de traducción
        %li> Remera oficial de la conferencia y bolsa de regalos 
        %li> ¡Acceso a nuestros fabulosos oradores y asistentes!

      %a{href:"register.html", target: '_blank'} Inscribirse

  .stuff
    .wrapper
      %img.cup{:src=>"images/cup.png", :width=>"207", :height=>"98"}
      %img.sign{:src=>"images/sign.png", :width=>"194", :height=>"262"}    
    .wood

%section#speakers
  #cave-top
  %article.wrapper
    %h2.title Oradores

    %ul
      = partial("_speakers.haml", lang: 'es')
      %a.btn.btn-alt{:href=>"speakers_es.html"} Ver todos
  #cave-bottom

%section#rubyfunday
  = partial("rfd/_header_es.haml", lang: 'es')

%section#sponsors
  %article.wrapper
    %h2.title Sponsors
    .content
      = partial("_sponsors.haml", lang: 'es')
      
      %h3 ¿Interesado en ayudarnos a organizar la cuarta RubyConf Argentina?
      %p Tu compañía puede ser parte de una de las conferencias de software más grandes de Sudamérica. 

      %p 
        %a.btn.btn{:href=>"mailto:rubyconfar@gmail.com?&subject=[RubyConfAr] Consulta sobre Sponsoreo."} Contactanos
        y te contaremos más acerca de las ventajas de esta oportunidad. 
        %p 
        %a.btn.btn-alt{:href=>"sponsors_es.html"} Más acerca de sponsors

%section#venue
  %article.wrapper
    .konex
      %h2.title Lugar
      %address
        %a.magnific-popup{:href=>"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3284.260769542829!2d-58.41561553862304!3d-34.59756691545671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca87df85cc47%3A0x5386f54481530905!2sSarmiento+3131%2C+Buenos+Aires%2C+Ciudad+Aut%C3%B3noma+de+Buenos+Aires!5e0!3m2!1sen!2sar!4v1410386104366"}
          %strong CIUDAD CULTURAL KONEX
          %br
          %small
            Sarmiento 3131, C1196AAG 
            %span Buenos Aires, Capital Federal, Argentina
          .btn Ver Mapa
