---
layout: now.haml 
---
- lang = 'es'

#sponsors
  .fist-logo
  .breeze
  %ul
    %li
      %h4 Platinum
      %img{:src=>"images/sponsors/citrusbyte.png", :alt=>"Citrusbyte", :width=>"311", :height=>"70"}
    %li
      %h4 Gold
      %img{:src=>"images/sponsors/restorando.png", :alt=>"Restorando", :width=>"190", :height=>"64"}
    %li.silver
      %h4 Silver
      %img{:src=>"images/sponsors/inaka.png", :alt=>"Inaka Networks", :width=>"120", :height=>"44"}
      %img{:src=>"images/sponsors/10pines.png", :alt=>"10 Pines", :width=>"160", :height=>"52"}
      %img{:src=>"images/sponsors/ombulabs.png", :alt=>"Ombu Labs", :width=>"200", :height=>"42"}
      %br
      %img{:src=>"images/sponsors/wyeworks.png", :alt=>"wye works", :width=>"210", :height=>"31"}
      %img{:src=>"images/sponsors/toptier-labs.png", :alt=>"toptier labs", :width=>"150", :height=>"54"}
      %img{:src=>"images/sponsors/sendgrid.png", :alt=>"Sendgrid", :width=>"196", :height=>"50"}
    %li.bronze
      %h4 Bronze
      %img{:src=>"images/sponsors/jinglepunks.png", :alt=>"Jingle Punks", :width=>"169", :height=>"90"}
      %img{:src=>"images/sponsors/13floor.png", :alt=>"13Floor", :width=>"193", :height=>"31"}
      %img{:src=>"images/sponsors/altoros.png", :alt=>"Sendgrid", :width=>"200", :height=>"35"}
      .four
        %img{:src=>"images/sponsors/deviget.png", :alt=>"deviget", :width=>"170", :height=>"50"}
        %img{:src=>"images/sponsors/soundcloud.png", :alt=>"Soundcloud", :width=>"119", :height=>"75"}
        %img{:src=>"images/sponsors/thoughtbot.png", :alt=>"thoughtbot", :width=>"190", :height=>"46"}        
        %img{:src=>"images/sponsors/mercadolibre.png", :alt=>"Mercado Libre", :width=>"180", :height=>"46"}
    %li.media
      %h4 Media
      %img.up{:src=>"images/sponsors/up.png", :alt=>"Universidad de Palermo", :width=>"163", :height=>"36"}
      %img.sz{:src=>"images/sponsors/szstudios.png", :alt=>"Sz Studios | Beautiful graphic and web design", :width=>"140", :height=>"87"}
      / %br
      %img.aviato{:src=>"images/sponsors/aviato.png", :alt=>"Aviato"}
      
#twitter
  
#schedule
  %ol
    - data.schedule.each do |slot|
      - now = slot.now ? 'now' : ''
      - if slot.speaker
        - speaker = data.speakers.find {|s| s.id == slot.speaker}
        - talk = speaker.send(lang)
        %li{class: now}
          .when
            %h1=slot.time
          .what
            .img>
              .overlay
              %img{src: speaker.image , alt: speaker.name}
            .talk>
              %h1= speaker.name
              %h2= talk.title_long

      - else
        %li.no-speaker{class: now}
          .when
            %h1=slot.time
          .what
            %p= slot.description
