- content_for(:body_class) {"inner-page"}


%section#speakers
  %header
    .top
    .stuff     
      .wrapper
        %a.register{:href=>"register.html"} Inscribirse
        %span.full-list
          %i.fa.fa-angle-down
          Ãndice
      %h1 Oradores
    .index
      %ol.wrapper
        - data.speakers.each do |speaker|
          %li{class: speaker.rfd ? 'rfd' : 'main' }            
            %a.share{href: "##{speaker.id}"}
              .border              
              %img{src: speaker.image , alt: speaker.name}
            .tooltip= speaker.name
  
  %article.wrapper  
    %h1 Oradores
    %ul
      = partial("_speakers.haml", lang: 'es')
