- content_for(:body_class) {"inner-page"}


%section#speakers
  %header
    .top
    .stuff     
      .wrapper
        %a.register{:href=>"register.html"} Inscribirse
        %span.full-list
          %i.fa.fa-angle-down
          Índice
      %h1 Oradores
    #index
  
  %article.wrapper  
    
    %ul
      = partial("_speakers.haml", lang: 'es')
