- content_for(:body_class) {"inner-page"}


%section#speakers
  %header
    .top
    .stuff     
      .wrapper
        %a.register{:href=>"register.html"} Register now
        %span.full-list
          %i.fa.fa-angle-down
          Index
      %h1 Speakers
    #index
  
  %article.wrapper
   
    
    %ul
      = partial("_speakers.haml", lang: 'en')
