%section#rubyfunday
  %article.wrapper
    .text
      %h2.title Ruby Fun Day
      %p Ruby Fun Day is a full day of workshops. There will be activities for beginner Rubyists, and also for the experienced ones.
      %p These workshops will take place in classrooms, so there's more interaction from attendees.
      %p A laptop is suggested to participate in the workshops.
      %p
        The 2014 edition of Ruby Fun Day will be on 
        %strong October 23rd, 
        one day before the conference, at:
      %address
        %a.magnific-popup{:href=>"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3284.260769542829!2d-58.41561553862304!3d-34.59756691545671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca87df85cc47%3A0x5386f54481530905!2sMario+Bravo+1050%2C+Buenos+Aires%2C+Ciudad+Aut%C3%B3noma+de+Buenos+Aires!5e0!3m2!1sen!2sar!4v1410386104366"}
          %strong Universidad de Palermo
          %br
          %small Mario Bravo 1050
      %p Registration for Ruby Fun Day is free and will open soon, with priority for the attendees of RubyConf Argentina.
      %a.register{:href=>"register.html"} Register Now

  %img.remeras{:src=>"images/remeras.png", :width=>"407", :height=>"320", :alt=>"Tshirts RubyConf Argentina 2011, 2012, 2013, 2014"}
  %img.mesa{:src=>"images/mesa.png", :width=>"1069", :height=>"575"}
  .floor