%section#rubyfunday
  %article.wrapper
    .text
      %h2.title Ruby Fun Day
      %p El Ruby Fun Day es un día completo de talleres de lo más variados. Habrá actividades para Rubyistas principiantes, y también para experimentados.
      %p Estos talleres se dan en un entorno de aulas, permitiendo mayor participación de los asistentes.
      %p Para aprovechar los talleres al máximo, es necesario disponer de una laptop.
      %p
        El Ruby Fun Day 2014 será el 
        %strong 23 de Octubre, 
        un día antes de la conferencia, en:
      %address
        %a.magnific-popup{:href=>"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3284.260769542829!2d-58.41561553862304!3d-34.59756691545671!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca87df85cc47%3A0x5386f54481530905!2sMario+Bravo+1050%2C+Buenos+Aires%2C+Ciudad+Aut%C3%B3noma+de+Buenos+Aires!5e0!3m2!1sen!2sar!4v1410386104366"}
          %strong Universidad de Palermo
          %br
          %small Mario Bravo 1050
      %p La inscripción para el Ruby Fun Day es gratuita y comenzará pronto, con prioridad para los inscriptos a RubyConf Argentina.

  %img.remeras{:src=>"images/remeras.png", :width=>"407", :height=>"320", :alt=>"Remeras RubyConf Argentina 2011, 2012, 2013, 2014"}
  %img.mesa{:src=>"images/mesa.png", :width=>"1069", :height=>"575"}
  .floor