.table
  %table
    
    %thead
      %tr
        %th
        %th Track 1
        %th Track 2
        %th Track 3
        %th Track 4
    %tbody
      %tr
        %td 9:00
        %td.wide{:colspan=>"4"} Acreditación

      %tr
        %td 9:45
        %td.wide{:colspan=>"4"} Bienvenida
      
      %tr
        %td 10:00
        %td 
          %h6 No vas a creer cómo simplificamos...
          %p Tute Costa
        %td
          %h6 The Guide to Cuba
          %p Francesco Rodriguez
        %td 
          %h6 TDD IRL (reloaded)
          %p Lucas Videla
        %td 
          %h6 Pizarra...

      %tr
        %td 12:00
        %td.wide{:colspan=>"4"} Almuerzo

      %tr
        %td 13:30
        %td 
          %h6 Adhearsion - Easy VoIP @ Ruby
          %p Fernando Dario Alonso
        %td 
          %h6 Angular on Cuba
          %p Ignacio Gutierrez y Esteban Pastorino
        %td 
          %h6 The path to modular UI
          %p Marina Noelia Cabane
        %td 
          %h6 Tema libre

      %tr
        %td 15:30
        %td 
          %h6 Wishful Thinking: Code Review with...
          %p Nicolás Papagna Maldonado
        %td 
          %h6 Web Security 101
          %p Francesco Rodriguez
        %td 
          %h6 TA one on one date with vim
          %p Cristian Rasch
        %td 
          %h6 Tema libre

      %tr
        %td 17:30
        %td.wide{:colspan=>"4"} Fin